@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-main: var(--main);
  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --color-error: var(--error);
  --color-success: var(--success);

  --background-image-accent-gradient: linear-gradient(0deg, rgba(254, 137, 31, 1) 0%, rgba(254, 182, 35, 1) 100%);

  --font-sans: var(--body-font);
  --font-heading: var(--heading-font);
}

@layer base {
  html {
    @apply text-slate-50;
  }
  body {
    font-family: var(--body-font);
  }
}

/* Sidebar Category Icons */

.categoryicon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Nintendo Systems */
.categoryicon.nes {
  background-image: url('/platform-icons/nes.png');
}

.categoryicon.snes {
  background-image: url('/platform-icons/snes.png');
}

.categoryicon.n64 {
  background-image: url('/platform-icons/n64.png');
}

.categoryicon.gb {
  background-image: url('/platform-icons/gb.png');
}

.categoryicon.gbc {
  background-image: url('/platform-icons/gbc.png');
}

.categoryicon.gba {
  background-image: url('/platform-icons/gba.png');
}

.categoryicon.nds {
  background-image: url('/platform-icons/nds.png');
}

/* Sega Systems */
.categoryicon.genesis {
  background-image: url('/platform-icons/genesis.png');
}

.categoryicon.segacd {
  background-image: url('/platform-icons/segacd.png');
}

.categoryicon.saturn {
  background-image: url('/platform-icons/saturn.png');
}

/* Sony Systems */
.categoryicon.psx {
  background-image: url('/platform-icons/psx.png');
}

.categoryicon.psp {
  background-image: url('/platform-icons/psp.png');
}

/* Other Systems */
.categoryicon.arcade {
  background-image: url('/platform-icons/arcade.png');
}
